/* 颜色变量 */
html {
    --wallet-primary-color: #fcd535;
    --wallet-primary-color-hover: #f0b90b;
    --wallet-theme-color: #ffffff;

    --wallet-text-color: #09090b;
    --wallet-text-foreground-color: #09090b;
    --wallet-text-muted-foreground-color: #71717a;

    --wallet-border-color: #e4e4e7;

    --wallet-input-border-color: #e4e4e7;

    --wallet-bg-muted: #f4f4f5;
    --wallet-bg-secondary: #f4f4f5;
}
html.dark {
    --wallet-primary-color: #fcd535;
    --wallet-primary-color-hover: #f0b90b;
    --wallet-theme-color: #09090b;

    --wallet-text-color: #09090b;
    --wallet-text-foreground-color: #fafafa;
    --wallet-text-muted-foreground-color: #a1a1aa;

    --wallet-border-color: #27272a;

    --wallet-input-border-color: #27272a;

    --wallet-bg-muted: #27272a;
    --wallet-bg-secondary: #27272a;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --wallet-primary-color: #fcd535;
        --wallet-primary-color-hover: #f0b90b;
        --wallet-theme-color: #09090b;

        --wallet-text-color: #09090b;
        --wallet-text-foreground-color: #fafafa;
        --wallet-text-muted-foreground-color: #a1a1aa;

        --wallet-border-color: #27272a;

        --wallet-input-border-color: #27272a;

        --wallet-bg-muted: #27272a;
        --wallet-bg-secondary: #27272a;
    }

    .privy_login_title {
        .light {
            display: none !important;
        }
        .dark {
            display: block !important;
        }
    }

    .modal_overlay {
        .modal_content {
            box-shadow: 0px 0px 20px 0px #5bdbaa69;
        }
    }
} */

@font-face {
    font-family: "Poppins";
    src: url("./assets/Poppins-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/Poppins-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

.boom_privy_button_container {
    display: inline-block;
    font-family: "Poppins";
    color: var(--wallet-text-foreground-color);

    .light_img {
        display: block !important;
    }
    .dark_img {
        display: none !important;
    }
}

html.dark .boom_privy_button_container {
    .light_img {
        display: none !important;
    }
    .dark_img {
        display: block !important;
    }

    .modal_overlay {
        .modal_content {
            box-shadow: 0px 0px 20px 0px #5bdbaa69;
        }
    }
}

/* button start */
.privy_wallet_button {
    background-color: var(--wallet-primary-color);
    border: none;
    border-radius: 12px;
    padding: 8px 16px;
    transition: background-color 0.15s ease;
    cursor: pointer;

    span {
        font-weight: 500;
        color: var(--wallet-text-color);
        font-size: 16px;
        line-height: 24px;
    }
    img {
        display: none;
    }

    &:hover {
        background-color: var(--wallet-primary-color-hover);
    }
}

.privy_login_submit_button {
    width: 100%;
    background-color: var(--wallet-primary-color);
    border: none;
    border-radius: 12px;
    padding: 14px 16px;
    margin: 10px 0;
    transition: background-color 0.15s ease;
    color: var(--wallet-text-color);

    font-size: 14px;
    font-weight: 500;
    line-height: 21px;

    &:hover {
        background-color: var(--wallet-primary-color-hover);
    }
}

/* button end */

/* modal start */
.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;

    .modal_content {
        background-color: var(--wallet-theme-color);
        padding: 22px 42px;
        border-radius: 12px;
        width: 499px;
        height: auto;

        border: 1px solid var(--wallet-border-color);

        .modal_title {
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
        }
    }
}
/* modal end */

.privy_user_info {
    font-family: "Poppins";
    background-color: var(--wallet-primary-color);
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
    font-weight: 500;
    color: var(--wallet-text-color);
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
}

.privy_login_container {
    margin: 16px 0;
    .privy_login_title {
        font-size: 14px;
        line-height: 21px;
        font-weight: 500;
        text-align: right;
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 8px;
    }

    .privy_login_mpc_tip {
        text-align: left;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;

        display: flex;
        justify-content: left;
        align-items: baseline;
        gap: 8px;
    }
}

.input-wrapper {
    position: relative;
    width: 100%;

    img {
        position: absolute;
        left: 12px;
        top: 14.5px;
    }

    input[type="email"].privy_email_input {
        display: flex;
        align-items: center;
        width: 100%;
        height: 44px;
        padding: 8px 12px 8px 38px;
        border-radius: 12px;
        border: 1px solid var(--wallet-border-color);
        outline: none;
        background-color: var(--wallet-bg-muted);
        color: var(--wallet-text-foreground-color);
        margin: 14px 0 36px 0;
        transition: box-shadow 0.2s ease;

        &:focus-within {
            box-shadow: 0 0 0 2px var(--wallet-theme-color),
                0 0 0 calc(2px + 2px) var(--wallet-primary-color);
            color: var(--wallet-text-foreground-color) !important;
        }
    }

    input[type="email"]:-webkit-autofill {
        box-shadow: 0 0 0px 1000px var(--wallet-bg-muted) inset, 0 0 0 2px var(--wallet-theme-color),
            0 0 0 calc(2px + 2px) var(--wallet-primary-color) !important;
    }
}

.privy_wallet_list_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;

    .privy_wallet_list_item {
        display: flex;
        align-items: center;
        justify-content: stretch;
        border: none;
        border-radius: 12px;
        padding: 12px;
        color: var(--wallet-text-foreground-color);
        cursor: pointer;
        background-color: var(--wallet-bg-secondary);

        .privy_wallet_list_item_name {
            flex: 1;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
        }
    }

    .privy_wallet_list_more {
        grid-column: span 2;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        color: var(--wallet-text-muted-foreground-color);
        text-decoration: underline;
        text-decoration-thickness: 0.8px; /* 下划线粗细 */
        text-underline-offset: 1.2px; /* 下划线距离 */
        cursor: pointer;
        margin: 12px 0 0 0;
    }
}

/* 对于宽度小于 767px 的设备 */
@media (max-width: 767px) {
    .privy_wallet_button {
        width: 38px;
        height: 38px;
        padding: 0;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            display: none;
        }
        img {
            display: block;
        }
    }

    .privy_login_submit_button {
        padding: 12px 16px;
    }

    .modal_overlay {
        .modal_content {
            padding: 22px 22px;
            border-radius: 12px;
            width: 90%;
            height: auto;

            border: 1px solid var(--wallet-border-color);

            .modal_title {
                font-weight: 600;
                font-size: 18px;
                line-height: 27px;
                padding-bottom: 8px;
            }
        }
    }

    .privy_wallet_list_container {
        .privy_wallet_list_item {
            .privy_wallet_list_item_name {
                font-size: 12px;
                line-height: 18px;
            }
        }

        .privy_wallet_list_more {
            grid-column: span 2;
            text-align: center;
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            color: var(--wallet-text-muted-foreground-color);
            text-decoration: underline;
            text-decoration-thickness: 0.8px; /* 下划线粗细 */
            text-underline-offset: 1.2px; /* 下划线距离 */
            cursor: pointer;
            margin: 12px 0 0 0;
        }
    }
}

/* 对于宽度大于或等于 1024px 的设备 */
@media (min-width: 1025px) {
    .privy_wallet_button {
        padding: 8px 32px;

        font-size: 14px;
        line-height: 21px;
    }
}
